<body>
    <div class="container-fluid">
      <div class="row">
 

        <main class="col-sm-9 offset-sm-4 col-md-10 offset-md-1 pt-3">
          <h4 class="float-right">
            <a> | </a><a href="\logout">Logout</a>
          </h4>
          {{#if userIsAdmin}}
              <h4 class="float-right"><a href="\admin">Admin area </a></h4>
          {{/if}}
          <h1>Discontinuities</h1>
          
          
          <h2>All discontinuities</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>user</th>
                  <th>session</th>
                  <th>id</th>
                  <th>Dir.</th>
                  <th>Dip</th>
                  <th>Lat.</th>
                  <th>Long.</th>
                  <th>Pers.</th>
                  <th>Apert.</th>
                  <th>Rough.</th>
                  <th>Inf.</th>
                  <th>Weath.</th>
                  <th>Note</th>
                </tr>
              </thead>

              <tbody>
                {{#each discontinuities}}
                <tr>
                  <td><a href="/users/{{idUser}}">{{idUser}}</a></td>
                  <td><a href="/sessions/{{idSession}}">{{idSession}}</a></td>
                  <td>{{id}}</td>
                  <td>{{direction}}</td>
                  <td>{{dip}}</td>
                  <td>{{latitude}}</td>
                  <td>{{longitude}}</td>
                  <td>{{persistence}}</td>
                  <td>{{aperture}}</td>
                  <td>{{roughness}}</td>
                  <td>{{infilling}}</td>
                  <td>{{weathering}}</td>
                  <td>{{note}}</td>
                </tr>
                {{/each}}

              </tbody>
            </table>
          </div>
          <h2> </h2>
          <h3>Legend:</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Conditions</th>
                  <th>Class 0</th>
                  <th>Class 1</th>
                  <th>Class 2</th>
                  <th>Class 3</th>
                  <th>Class 4</th>
                  <th>Class 5</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Discontinuity length <br>(persistence)</td>
                  <td>N.A.</td>
                  <td>inf. 1m</td>
                  <td>1 -3m</td>
                  <td>3 – 10m</td>
                  <td>10 - 20m</td>
                  <td>sup. 20m</td>
                </tr>
                <tr>
                  <td>Separation<br>(aperture)</td>
                  <td>N.A.</td>
                  <td>None</td>
                  <td>inf 0.1mm</td>
                  <td>0.1 - 1.0mm</td>
                  <td>1 - 5mm</td>
                  <td>sup. 5mm</td>
                </tr>
                <tr>
                  <td>Roughness</td>
                  <td>N.A.</td>
                  <td>Very rough</td>
                  <td>Rough</td>
                  <td>Slightly<br>Rough</td>
                  <td>Smooth</td>
                  <td>Slickensided</td>
                </tr>
                <tr>
                  <td>Infilling</td>
                  <td>N.A.</td>
                  <td>None</td>
                  <td>Hard filling, <br>inf. 5mm</td>
                  <td>Hard filling, <br>sup. 5mm</td>
                  <td>Soft filling, <br>inf. 5mm</td>
                  <td>Soft filling, <br>sup. 5mm</td>
                </tr>
                <tr>
                  <td>Weathering</td>
                  <td>N.A.</td>
                  <td>Unweathered</td>
                  <td>Slightly <br>weathered</td>
                  <td>Moderately <br>weathered</td>
                  <td>Highly <br>weathered</td>
                  <td>Decomposed</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="pagination">
            <p>Page {{page}}</p>
            <a href="/discontinuities?page={{#prevPage page}}{{/prevPage}}">❮</a>
            <a href="/discontinuities?page={{#nextPage page}}{{/nextPage}}">❯</a>
          </div>
        </main>
      </div>
    </div>

</body>